<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Apolice</title>
</head>
<body>
    <div class="container-apolice">
        <p>Cálculo da apólice realizado com sucesso para <%= message %>.</p>
    </div>
</body>
</html>